HOST=0.0.0.0
PORT=1338
APP_KEYS=testKeyA,testKeyB,testKeyC,testKeyD
API_TOKEN_SALT=testApiTokenSalt
ADMIN_JWT_SECRET=testAdminJwtSecret
TRANSFER_TOKEN_SALT=testTransferTokenSalt
JWT_SECRET=testJwtSecret
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
